body{
    height: 100%;
    align-items: center;
    text-align: center;
    background-color: rgb(7, 7, 7);
}

h1{
    color: rgb(220, 239, 255);
    font-family: 'Unbounded', cursive;
}

a{
    color: rgb(220, 239, 255);
    text-decoration: dotted;
}

.container{
    margin-top: 4em;
}